<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionColegio"
        tools:targetApi="31">
        <activity
            android:name=".CodigoVerificacionActivity"
            android:exported="false" />
        <activity
            android:name=".CambioPassword_2"
            android:exported="false" />
        <activity
            android:name=".CambioPassword"
            android:exported="false" />
        <activity
            android:name=".FijarTareas"
            android:exported="false"
            android:parentActivityName=".Horario" />
        <activity
            android:name=".Avisos"
            android:exported="false"
            android:parentActivityName=".Horario" />
        <activity
            android:name=".EnviarMensaje"
            android:exported="false"
            android:parentActivityName=".Horario" />
        <activity
            android:name=".ConvocarReunion"
            android:exported="false"
            android:parentActivityName=".Horario" />
        <activity
            android:name=".CalendarioReuniones"
            android:exported="false"
            android:parentActivityName=".Horario" />
        <activity
            android:name=".InformeGuardia"
            android:exported="false"
            android:parentActivityName=".Reuniones" />
        <activity
            android:name=".Reuniones"
            android:exported="false"
            android:parentActivityName=".Horario" />
        <activity
            android:name=".ReunionesNotificaciones"
            android:exported="false"
            android:parentActivityName=".Horario" />
        <activity
            android:name=".Horario"
            android:exported="false"
            android:parentActivityName=".Notificaciones" />
        <activity
            android:name=".Notificaciones"
            android:exported="false"
            android:parentActivityName=".Ausencias" />
        <activity
            android:name=".Ausencias"
            android:exported="false"
            android:parentActivityName=".PermisosActivity" />
        <activity
            android:name=".TareasAdministrativas"
            android:exported="false"
            android:parentActivityName=".PermisosActivity" />
        <activity
            android:name=".NuevoPermiso"
            android:exported="false" />
        <activity
            android:name=".EstadosPermisosActivity"
            android:exported="false"
            android:label="@string/title_activity_estados_permisos"
            android:parentActivityName=".PermisosActivity" />
        <activity
            android:name=".PermisosActivity"
            android:exported="false"
            android:label="@string/title_activity_permisos"
            android:parentActivityName=".TareasAdministrativas" />
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false"
            android:parentActivityName=".CambioPassword" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false"
            android:parentActivityName=".LauncherActivity" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>